---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/PublicationIssue">

  <header class="post-header">
    <h1 class="post-title">
      <div class="numero-numero">
        <span itemprop="isPartOf">Perspectives Protestantes</span>
        n°<span itemprop="issueNumber">{{ page.numero }}</span>
      </div>
      <span itemprop="name headline">{{ page.title | escape }}</span>
    </h1>
    <p class="numero-date">
      <time itemprop="datePublished">
        {{ page.mois_annee | capitalize }}
      </time>
    </p>
  </header>

  <div style="float:right">
  <img src="{{ site.url }}{{ page.image }}"/>
  </div>

  <h2>Sommaire</h2>
  <ul class="sommaire">
    {% for article in page.sommaire %}
      <li>
        <article itemscope itemtype="http://schema.org/Article">
          <h3 itemprop="name headline">{{ article.title | escape }}</h3>
          {% if article.type %}<span class="sommaire-type">{{ article.type | escape }}</span> / {% endif %} 
          <span itemprop="author">{{ article.author | escape }}</span>
        </article>
      </li>
    {% endfor %}
  </ul>

  <div itemprop="isPartOf" itemscope itemtype="http://schema.org/Article">
    <div class="post-content" itemprop="text">
      {{ content }}
    </div>
  <div>

  <h2 class="titre-autres">Les autres numéros</h2>
  <ul>
    {% for numero in site.numeros %}
      {% if numero.numero <> page.numero %}
      <li>
        <a href="{{ numero.url | relative_url }}">{{ numero.mois_annee }} - {{ numero.title | escape }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</article>
